<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DJFL Careers</title>
 
</head>
<body>
    <div id ="containers">
    <h1>DJFL Careers</h1>
    <img  id ="job_image" src="static/jobs.jpg"  height="320" alt="jobs opennings">
    <h2>About DJFL</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla, magna id auctor suscipit, lacus nulla scelerisque lectus, id tincidunt urna risus nec mauris. Nullam diam neque, sagittis sed lacinia sit amet, porta eget purus. Aenean ac bibendum nisl. Donec in libero eget massa congue mattis varius a mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec semper eros ut eros pellentesque, vulputate sodales lectus bibendum. Pellentesque varius gravida justo, a scelerisque orci volutpat eu. Sed ac facilisis magna. Mauris molestie, lectus sed gravida malesuada, dui massa ultricies mi, et varius tellus tellus in justo. Integer rutrum lacinia fringilla. Sed id vulputate mi. Donec enim turpis, ornare nec auctor sit amet, elementum et odio. Donec efficitur hendrerit ullamcorper. Quisque suscipit nisl non sapien faucibus, malesuada pellentesque eros pulvinar. Mauris imperdiet molestie dolor in pellentesque.</p>
  
    <h2>Open Positions</h2>
    <p>TODO - Show the jobs here</p>
    <button>Contact Us</button>
    </div>
</body>
</html>